@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", "Outfit", ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #f9fafb;
}

html.dark body {
  background-color: #111827;
}